@font-face {
    font-family: NunitoSemiBold;
    src: url(/assets/fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: NunitoBold;
    src: url(/assets/fonts/Nunito-Bold.ttf);
}

html {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #0a0a0a;
    display: grid;
    place-items: center;
    transition: 1s;
}

body {
    display: grid;
    place-items: center;
    width: 70%;
}

@media screen and ( orientation:landscape ) {
    .container {
        display: flex;
    }
}

.item {
    width: 100%;
    text-align: center;
    font-family: NunitoBold;
}

.item h1 {
    color: lightgray;
    margin-bottom: 0;
}

.item h2, h3, p {
    font-family: NunitoSemiBold;
    color: gray;
    margin: 10px;
}

.btn {
    display: inline-block;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 6px;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #2a2a2a;
    transform: scale(95%);
}

a {
    color: gray;
    text-decoration: underline;
    transition: 0.4s;
}

a:hover {
    color: #C97F21;
}

img {
    vertical-align: middle;
    margin-bottom: 3px;
}

#menu {
    width: 100%;
}